*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left h1{
    margin-left: 60px;
    padding-top:50%;
    font-size: 35px;
    color: rgb(255, 52, 52);
}

.that-page{
    width:90%;
    height: 100vh;
    margin: auto ;
    /* background-color: rgb(255, 127, 127); */
}

.left{
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    width: 400px;
    /* background-color: black; */
    position: fixed;
}

.btn{
    background-color: rgb(119, 63, 0);
    color: white;
    margin-top: 10px;
    padding: 2% 13%;
    font-weight: 700;
    font-size: 15px;
    border-radius: 14px;
}


.inpt{
    border-radius:5px;
    width: 320px;
    height: 45px;
}

.holder{
    text-align: center;
    padding-top: 10%;
}

.right{
    margin-right: 0;
    margin-top: 0;
    height: 100%;
    float: right;
    width:780px;
    /* background-color: rgb(117, 90, 90); */
}

.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity:1;
}

.modal{
    /* position: relative; */
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:40%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.modal-close{
    /* position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold; */
}